:root{
  --color-primario: rgba(94 234 212/1);
  --background-banner: #f5f6f7;
  --background-banner2: rgba(15 23 42 / 1);
}

#root{
  width: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--background-banner); 
  font-family: "Roboto", sans-serif;
  width: 100%;
}

.section-tittle{
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 60px;
}

.section-container{
  text-align: center;
  width: 100%;
  margin-bottom: 100px;
  padding: 10px 32px;
}